<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 coloum1">
      <h3>Why get vaccinated against COVID-19?</h3>
      <p>The emergency phase of COVID-19 is over, but the virus continues to spread and evolve. COVID-19 remains a threat, especially to older persons and adults with underlying health conditions. Safe and effective vaccines help ensure that COVID-19 does not result in severe disease and death. Vaccination protects against COVID-19 and reduces the likelihood of new variants from emerging. Take all COVID-19 vaccine doses, including booster doses, as recommended to you by your health authority. Vaccinating this group has limited public health impact. Countries could consider vaccinating healthy children and adolescents with the primary series based on disease burden, cost-effectiveness and other health or program priorities and opportunity costs.</p>
    </div>
    <div class="col-lg-6">
      <div class="row1">
        <h4 class="heading">Read Our Vaccine Explained Series</h4>
        <p class="text">As with all vaccines, WHO and regulatory authorities <br> continuously monitor the use of COVID-19 vaccines to <br> identify and respond to any safety issues that might arise. Through this process, we establish that COVID-19 vaccines remain safe worldwide.</p>
      </div>
    </div>
  </div>
  <div class="row row2">
    <div class="col-lg-12">
      <img class="img" [src]="imgUrl" />
      <br>
      <br>
      <h2>{{heading}}</h2>
      <br>
      <br>
      <button type="button" class="btn btn-info" routerLink="Login">Get Started</button> &nbsp;
      <button type="button" class="btn btn-warning" (click)="btnClick();">Login Form</button>
    </div>
  </div>
</div>
